{% extends 'main/base.html' %}

{% block content %}
<section class="main_content_for_game">
<h2 style="width: 100%; text-align: center">{{ game.game_name }}</h2>
  <div class="col-lg-4" style="word-wrap: break-word; overflow-wrap: break-word; width: 265px">

          {% if game.game_icon %}
            <img src="{{ game.game_icon.url }}" style = 'width: 250px; height: 470px'>
          {% else %}
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder: 100x100" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
          {% endif %}
    </div>
        <div style=" width: 400px; word-wrap: break-word; overflow-wrap: break-word">
          <p>{{ game.about_game | linebreaks }}</p>
          
          <p><a class="btn btn-secondary" href="{{ game.download_link }}">download</a></p>
      </div>
  </section>
{% endblock %}